body
{
    font-family: Arial;
    background-color: #3f0073;
}

hr
{
    visibility: hidden;
}

h1
{
    color: #ff7fbc;
    font-size: 2.5vw;
}

h2
{
    color: white;
    font-size: 2vw;
}

a
{
    font-size: 1vw;
}

p
{
    font-size: 0.95vw;
    color: white;
    font-weight: bold;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.titleimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title
{
    text-align: center;
}

.subtitle
{
    text-align: center;
}

.menubar ul
{
    display: table;
    margin: 0 auto;
}

.menubar ul a
{
    float: left;
    width: 9vw;
    height: 2vw;
    background-color: #bf00b6;
    line-height: 2vw;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline;
}

.menubar ul a:hover
{
    background-color: #990091;
}

.dropdown
{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 10vw;
    height: 2vw;
    background-color: #bf00b6;
    line-height: 2vw;
    text-align: center;
    display: inline;
}

.dropdownContent 
{
    display: none;
}

.dropdown:hover .dropdownContent 
{
    display: block;
    position: relative;
    z-index: 10;
}

.dropdownContent a
{
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
}

.menubar-side ul
{
    float: left;
    display: table;
    width: 10vw;
    margin-left: 2.5%;
    margin-top: 2vw;
    line-height: 2vw;
    display: inline;
    position: relative;
}

.menubar-side ul a
{
    background-color: #bf00b6;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    height: 2vw;
    position: relative;
    display: block;
    border-radius: 1vw;
}

.menubar-side ul a:hover
{
    background-color: #990091;
}

.main-page-subtitle
{
    text-align: center;
    width: fit-content;
    position: relative;
    border-radius: 1vw;
    background-color: #c57fff;
    margin-left: 1.5vw;
}

.main-page-subtitle p
{
    position: relative;
    text-align: center;
}

.global-page-bg
{
    float: right;
    margin-top: 2vw;
    margin-right: 14.875%;
    width: 68.25%;
    background-color: #b061f2;
    z-index: 1;
    border-radius: 1vw;
    position: relative;
}

.main-page-greet
{
    float: right;
    border-radius: 1vw;
    background-color: #b061f2;
    margin-top: 2vw;
    margin-right: 14.875%;
    width: 68.25%;
}

.main-page-greet p
{
    position: relative;
    text-align: center; 
}

.main-page-title
{
    border-radius: 1vw;
    background-color: #b772f1;
    text-align: center;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    width: 65vw;
}

.main-page-content
{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    background-color: #b772f1;
    border-radius: 1vw;
    text-align: center;
    width: 55vw;
}

.main-page-content p
{
    position: relative;
    text-align: center;
}